body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
input[type=password],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: horizontal;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
}

.loginbox input[type="text"],
input[type="password"],
select {
    border: none;
    border-bottom: 1px solid #2E60D3;
    background: transparent;
    outline: none;
    /* height: 40px; */
    color: #1E1E1E;
    font-size: 12px;
}

.loginbox label {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #888;
}